{% extends 'base.html.twig' %}

{% block title %}Mon panier - AUTOBOOST{% endblock %}

{% block content %}
<h1>Mon panier</h1>
Retrouvez l'ensemble des produits que vous avez ajouté à votre panier

{% if cart|length > 0 %}

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">llustration</th>
            <th scope="col"></th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% set total = null %}
    

        {% for product in cart %}
        
         
        
        <tr>
            <td>
                    <img src=uploads/{{product.product.illustration}} style="height: 75px" > {#affiche la photo du produit dans le panier#}
            </td>
            <td >
                    {{ product.product.name }} {#affiche le nom du produit dans le panier#}
            </td>
            <td>
                    {{ product.quantity }} {#affiche la quantité du produit dans le panier#}
            </td>
            <td>
                    {{( product.product.price /100)|number_format(2, ',')}} €{#affiche le prix du produit dans le panier#}
            </td>
            <td>
                    {{(product.product.price * product.quantity /100)|number_format(2, ',')}} €{#affiche le total du produit dans le panier#}
            </td>
            <td>
                <a href="{{path('decrease_to_cart', {'id':product.product.id})}}">
                    <img src="{{asset ('assets/img/moins.png')}}" height="25px" alt="Retirer une quantité à mon produit">
                </a>
                    {{product.quantity}}
                <a href="{{path('add_to_cart', {'id':product.product.id})}}">
                    <img src="{{asset ('assets/img/plus.png')}}" height="25px" alt="Ajouter un produit">
                </a>
            </td>
            <td>
                <a href="{{path('delete_to_cart', {'id':product.product.id})}}">
                    <img src="{{asset ('assets/img/effacer.png')}}" height="25px" alt="Supprimer mon produit">
                </a>
            </td>
        <td>
            <a href="{{ path('app_cart')}}">
                <img src="{{ asset('assets/img/caddie.png') }}" class="cart-icon" alt="Mon panier">
            </a>
            </td>
        </tr>
        
        {% set total = total +  (product.product.price * product.quantity)%}
        {% endfor %}
    </tbody>
</table>

<div class="text-right mb-5">
    <b>Nombre de produit : </b>{{ cart|length }}<br>
    <b>Total de mon panier : {{(total / 100)|number_format(2, ',')}} €</b>
    <a href="{{ path('app_order') }}" class="btn btn-success btn-block mt-3">Valider mon panier</a>
</div>
{% else %}
    <hr>
    <p><b>Votre panier est vide</b></p>
{% endif %}
{% endblock %}
