{% extends 'base.html.twig' %}

{% block title %}Nos produits - AUTOBOOST{% endblock %}
{% block content %}
<img src="{{asset('assets/img/bilstein.jpeg')}}" alt="" class="d-block w-100">      
<br>
<br>
<br>
{# Création d'une section filtre dans la page produit #}
<div class="row">
    <div class="col-md-3">
        <h3>Filtres</h3>
        {{form(form)}}
    </div>
        <div class="col-md-9">
            <h3>Nos produits</h3>
            <br>
            <br>
                <div class="row product-container">
    {% for product in products %}
    <div class="col-md-3 mt-4">
         <div class="card h-100">
            <!-- Sale badge-->
            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Vendu</div>
        <div class="product-item text-center">
            <a href="{{ path('app_product', {'slug' : product.slug}) }}"> {#route vers la page produit #}
                <img src="/uploads/{{product.illustration}}" alt="{{product.name}}"class="img-fluid"></a> {# lien vers le dossier image #}
                <br>
                <br>
                <h5>{{product.name}}</h5>
                <span class="product-subtitle">{{product.subtitle}}</span>
                <br>
                <span class="product-price">{{ (product.price / 100)|number_format(2, ',')}} €</span>
                <br>
                <br>
                <a class="btn btn-outline-dark mt-auto" href="{{path('add_to_cart', {'id':product.id})}}">Ajouter au panier</a> {# lien vers ajouter au panier #}
                <br>
                <br>
                <br>
                <br>

        </div>
    </div>
    </div>
{% endfor %}
        </div>
    </div>
</div>
{% endblock %}

     
